.errors{
  position:fixed;
  bottom:0;
  right:0;
  max-width: 200px;
  z-index: 3;
  > li {
    list-style: none;
    background-color:var(--BGerror);
    color:var(--Cerror);
    margin-top:0.5rem;
    padding:0.5rem;
    &:last-child{
      cursor:pointer;
      background-color: var(--BGclearError);
      color:var(--CclearError);
      text-align: center;
    }
  }

}