.form {
  padding:2rem 0;
  display:grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: row;
  grid-auto-rows:auto;
  grid-auto-columns: none;
  grid-gap: 1rem;
  > label,h1,div,nav {
    grid-column-start:1;
    grid-column-end: 3;
    &.uploadBox{
      >input {
        display:block;
      }
      > figure {
        display:inline-block;
        max-width:100%;
        max-height: 6rem;
        >img {
          display:block;
          max-width:100%;
          max-height: 4rem;
        }
        > button{
          width:100%;
          display:block;
        }
        
      }
    }
  }
  > input {
    border:1px solid var(--BGbutton);
    color:var(--BGbutton);
    padding:0.5rem;
    display:block;
    width:100%;
    grid-column-start:1;
    grid-column-end: 3;
  }
  > p {
    &.full{
      grid-column-start:1;
      grid-column-end: 3;
    }
    &.answer{
      user-select: none;
      -moz-user-select: none;
      border:1px solid var(--BGbutton);
      padding:0.5rem;
      justify-self: left;
      cursor:pointer;
    }
    &.selected{
      background-color:var(--BGbutton);
      color:var(--Cbutton);
    }
  }
}