.header{
  padding:1rem;
  background-color:var(--BGaccent);
  color:white;
  display:grid;
  grid-template: 
  "... title nav ..." auto
  /1fr 700px 300px 1fr;
  align-items: center;
  > h1 {
    grid-area: title;
    cursor:pointer;
  }
  > nav {
    grid-area: nav;
    text-align: right;
    > a {
      display:inline-block;
      grid-area: link;
    }
  }

}