.header{
  padding:2rem 1rem;
  background-color:var(--BGaccent);
  color:white;
  display:grid;
  grid-template: 
  "title nav" auto
  /1fr auto;
  align-items: center;
  > h1 {
    grid-area: title;
    font-size: 1.5rem;
    cursor:pointer;
  }
  > nav {
    grid-area: nav;
    text-align: right;
    > a {
      display:inline-block;
      grid-area: link;
    }
  }

}