.loginModal {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index:11;
  justify-self: center;
  align-self: start;
  margin-top: 2rem;
  pointer-events: auto;
  background-color:var(--BGlogin);
  color:var(--Clogin);
  box-shadow: var(--newmorphism);
  max-width:75vw;
  padding:1rem;
  border-radius: 1rem;
  @media screen AND (min-width:400px){
    border-radius: 3rem;
    padding:3rem;
  }
  > p {
    margin-bottom: 1rem;
  }
  > input {
    display:block;
    padding:0.5rem;
    margin-bottom: 0.5rem;
    width:100%;
  }
}

.background {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 10;
  background-color:rgba(0,0,0,0.5);
  cursor:pointer;
}