.loginModal {
  padding:1rem;
  background-color:var(--BGlogin);
  color:var(--Clogin);
  box-shadow: 0 0 1000px 30px black;
  border:1px solid #f0f0f0;
  position:fixed;
  top:50%;
  left:50%;
  min-width:200px;
  transform: translate(-50%,-50%);
  z-index: 2;
  > input {
    display:block;
    padding:0.5rem;
    width:100%;
  }
}

.background {
  background-color:var(--BGdropback);
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 1;
  cursor:pointer;
}