html,body{
  margin:0;
  background-color: var(--BGbody);
}
* {
  margin:0;
  font-size: 1rem;
  box-sizing: border-box;
}
:root{
  --BGbody:#f0f0f0;
  --BGpage:#f6f6f6;
  --BGbutton:#33696b;
  --Cbutton:white;
  --BGbuttonDisabled:#bfbfbf;
  --CbuttonDisabled:white;
  --BGinput:white;
  --BGaccent:#973f7d;
  --BGmild:#a3a3ea;
  --BGerror:#400000;
  --Cerror:white;
  --BGclearError:#004000;
  --CclearError:white;
  --BGlogin:#973f7d;
  --Clogin:white;
  --BGdropback:rgba(0,0,0,0.5);
  --newmorphism: 0.25rem 0.25rem 0.5rem 0rem rgba(0,0,0,0.5), 0.25rem 0.25rem 0.5rem 0rem rgba(255,255,255,0.5) inset;
}

button{
  border:none;
  color:var(--Cbutton);
  border:1px solid var(--BGbutton);
  background-color:var(--BGbutton);
  box-shadow: var(--newmorphism);
  border-radius: 0.5rem;
  padding:0.5rem;
  outline:none;
  margin-right:0.5rem;
  cursor:pointer;
  &:last-child{
    margin-right:0;
  }
  &:disabled{
    cursor: not-allowed;
    color:var(--CbuttonDisabled);
    border:1px solid var(--BGbutton);
    background-color:var(--BGbuttonDisabled);
  }
}
:global {
  #__next {
    display:relative;
    display:grid;
    min-height:100vh;
    grid-template:
    "header" auto
    "saved" auto
    "page  " auto
    "..." minmax(1rem,1fr)
    / 1fr;
    @media screen AND (min-width:1024px){
      grid-template:
      "topLeft header topRight" auto
      "topLeft saved topRight" auto
      "topLeft page  topRight" 5rem
      "..... page  ..." auto
      "... .... ....." minmax(1rem,1fr)
      / 1fr 1000px 1fr;
      &:after{
        content: " ";
        background-color: var(--BGaccent);
        grid-area: topRight;
      }
      &:before{
        content: " ";
        background-color: var(--BGaccent);
        grid-area: topLeft;
      }
      > main {
        background-color: var(--BGpage);
        box-shadow: var(--newmorphism);
        z-index: 2;
      }
      >aside {
        box-shadow: var(--newmorphism);
        z-index: 2;
      }
    }
    >header {
      grid-area:header;
    }
    > main {
      grid-area: page;
    }
    >aside {
      grid-area: saved;
    }
  }
}
