html,body{
  height:100%;
  margin:0;
  background-color: #f0f0f0;
}
* {
  margin:0;
  font-size: 1rem;
  box-sizing: border-box;
}
:root{
  --BGbutton:#4f8c8e;
  --Cbutton:white;
  --BGbuttonDisabled:#bfbfbf;
  --CbuttonDisabled:white;
  --BGinput:white;
  --BGaccent:#973f7d;
  --BGmild:#a3a3ea;
  --BGerror:#400000;
  --Cerror:white;
  --BGclearError:#004000;
  --CclearError:white;
  --BGlogin:#973f7d;
  --Clogin:white;
  --BGdropback:rgba(0,0,0,0.5);
  --newmorphism: 0.25rem 0.25rem 0.5rem 0rem rgba(0,0,0,0.5), 0.25rem 0.25rem 0.5rem 0rem rgba(255,255,255,0.5) inset;
}

button{
  border:none;
  color:var(--Cbutton);
  border:1px solid var(--BGbutton);
  background-color:var(--BGbutton);
  box-shadow: var(--newmorphism);
  border-radius: 0.5rem;
  padding:0.5rem;
  outline:none;
  margin-right:0.5rem;
  cursor:pointer;
  &:last-child{
    margin-right:0;
  }
  &:disabled{
    cursor: not-allowed;
    color:var(--CbuttonDisabled);
    border:1px solid var(--BGbutton);
    background-color:var(--BGbuttonDisabled);
  }
}
:global {
  #__next {
    display:relative;
    min-height: 100vh;
    display:grid;
    grid-template:
    "header" auto
    "saved" auto
    "page  " auto
    "JSON" auto
    "..." 1fr
    "footer" auto
    / 1fr;
    >header {
      grid-area:header;
    }
    > footer {
      grid-area:footer;
    }
    > main {
      grid-area: page;
    }
    >aside {
      grid-area: saved;
    }
    > section {
      grid-area: JSON;
    }
  }
}
